@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-primary: #0f172a;
  --color-secondary: #3b82f6;
  --color-dark: #0f172a;
  --color-background: #ffffff;
  --color-text: #1e293b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  font-family: "inter", sans-serif;
}

header {
  width: 100%;
  position: sticky;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  background-color: var(--color-primary);
}

nav .logo__brand {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.09rem;
  font-weight: 600;
}

nav ul a {
  margin: 0 1em;
}

.dropdown {
  position: relative;
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.dropdown:hover .dropdown__menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  white-space: nowrap;
  padding: 2em 0 1em 0;
  cursor: pointer;
}

.btn__contact {
  padding: 0.5em 2em;
  background-color: var(--color-secondary);
  border-radius: 30px;
}

/* input checkbox */
.menu__toggle {
  display: none;
}

.menu__btn {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 28px;
  height: 18px;
}

.menu__btn span {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 3%;
  transition: 0.4s;
  display: none;
}

@media screen and (max-width: 661px) {
  nav .logo__brand {
    font-size: 1.2rem;
  }

  nav a {
    font-size: 0.967rem;
    font-weight: 500;
  }

  .menu__nav {
    display: none;
  }

  .menu__toggle:checked ~ .menu__nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .menu__btn,
  .menu__btn span {
    display: flex;
  }

  .menu__nav {
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
    gap: 25px;
  }

  .menu__nav {
    background-color: var(--color-primary);
    width: 100%;
    padding: 2em;
  }

  /* Animation Hamburger */
  .menu__toggle:checked + .menu__btn span:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  .menu__toggle:checked + .menu__btn span:nth-child(2) {
    transform: rotate(-45deg) translateY(-10px);
  }
  .menu__toggle:checked + .menu__btn span:nth-child(3) {
    display: none;
  }

  .dropdown__menu {
    position: static;
    background-color: var(--color-secondary);
    border-radius: 8px;
    display: none;
  }

  .dropdown:hover .dropdown__menu {
    opacity: 1;
    display: flex;
    transform: translateY(0);
    white-space: nowrap;
    padding: 2em 0 1em 0;
    cursor: pointer;
  }
}
